.ec-header-slider-edit {
    background: #f0f0f0;
    padding: 40px;
    border: 1px dashed #ccc;
    text-align: center;
}

.ec-header-slider-edit h1 {
    font-family: 'EB Garamond', serif;
    font-size: 32px;
    margin-bottom: 20px;
}
